/* modify desktop icon label length */

* {
    -XfdesktopIconView-ellipsize-icon-labels: 0;
    -XfdesktopIconView-cell-text-width-proportion: 2.7px;
    -XfdesktopIconView-cell-spacing: 0px;
    -XfdesktopIconView-cell-padding: 2px;
}
